.git
.gitignore
node_modules
npm-debug.log
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/test-classes